[package]
name = "prio"
version = "0.8.5"
authors = ["Josh Aas <jaas@kflag.net>", "Tim Geoghegan <timg@letsencrypt.org>", "Christopher Patton <cpatton@cloudflare.com", "Karl Tarbe <tarbe@apple.com>"]
edition = "2021"
description = "Implementation of the Prio aggregation system core: https://crypto.stanford.edu/prio/"
license = "MPL-2.0"
repository = "https://github.com/divviup/libprio-rs"
rust-version = "1.59"
resolver = "2"

[dependencies]
aes = { version = "0.8.2", optional = true }
ctr = { version = "0.9.2", optional = true }
cmac = { version = "0.7.2", optional = true }
base64 = "0.21.0"
byteorder = "1.4.3"
getrandom = { version = "0.2.8", features = ["std"] }
serde = { version = "1.0", features = ["derive"] }
static_assertions = "1.1.0"
thiserror = "1.0"

# dependencies required if feature "test-util" is enabled
rand = { version = "0.8", optional = true }
serde_json = { version = "1.0", optional = true }

# dependencies required if feature "multithreaded" is enabled
rayon = { version = "1.7.0", optional = true }

# dependencies required if feature "prio2" is enabled
aes-gcm = { version = "^0.9", optional = true }
ring = { version = "0.16.20", optional = true }

[dev-dependencies]
assert_matches = "1.5.0"
criterion = "0.4"
itertools = "0.10.5"
modinverse = "0.1.0"
num-bigint = "0.4.3"
serde_json = "1.0"
hex = { version = "0.4.3" , features = ["serde"] }
# Enable test_vector module for test targets
# https://github.com/rust-lang/cargo/issues/2911#issuecomment-749580481
prio = { path = ".", features = ["test-util"] }

[features]
default = ["crypto-dependencies"]
test-util = ["rand", "serde_json"]
multithreaded = ["rayon"]
prio2 = ["aes-gcm", "ring"]
crypto-dependencies = ["aes", "ctr", "cmac"]

[workspace]
members = [".", "binaries"]

[[bench]]
name = "speed_tests"
harness = false

[[example]]
name = "sum"
required-features = ["prio2"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[[test]]
name = "backward_compatibility"
path = "tests/backward_compatibility.rs"
required-features = ["prio2"]
