[package]
name = "prio"
version = "0.8.2"
authors = ["Josh Aas <jaas@kflag.net>", "Tim Geoghegan <timg@letsencrypt.org>", "Christopher Patton <cpatton@cloudflare.com", "Karl Tarbe <tarbe@apple.com>"]
edition = "2018"
description = "Implementation of the Prio aggregation system core: https://crypto.stanford.edu/prio/"
license = "MPL-2.0"
repository = "https://github.com/divviup/libprio-rs"
rust-version = "1.58"
resolver = "2"

[dependencies]
aes = "0.8.1"
ctr = "0.9.1"
cmac = "0.7.1"
aes-gcm = { version = "^0.9", optional = true }
base64 = "0.13.0"
byteorder = "1.4.3"
getrandom = { version = "0.2.7", features = ["std"] }
ring = { version = "0.16.20", optional = true }
serde = { version = "1.0", features = ["derive"] }
static_assertions = "1.1.0"
thiserror = "1.0"

# dependencies required if feature "test-vector" is enabled
rand = { version = "0.8", optional = true }
serde_json = { version = "1.0", optional = true }

# dependencies required if feature "multithreaded" is enabled
rayon = { version = "1.5.3", optional = true }

[dev-dependencies]
assert_matches = "1.5.0"
criterion = "0.3"
itertools = "0.10.3"
modinverse = "0.1.0"
num-bigint = "0.4.3"
serde_json = "1.0"
hex = { version = "0.4.3" , features = ["serde"] }
# Enable test_vector module for test targets
# https://github.com/rust-lang/cargo/issues/2911#issuecomment-749580481
prio = { path = ".", features = ["test-vector"] }

[features]
test-vector = ["rand", "serde_json"]
multithreaded = ["rayon"]
prio2 = []
enpa = ["aes-gcm", "ring"]

[workspace]
members = [".", "binaries"]

[[bench]]
name = "speed_tests"
harness = false
#required-features = ["enpa"] # obviously garbage TODO FIXME

[[example]]
name = "sum"
required-features = ["enpa"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[[test]]
name = "backward_compatibility"
path = "tests/backward_compatibility.rs"
required-features = ["enpa"]
