name: ci-build

on:
  push:
    branches: [ main, release/** ]
  pull_request:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Lint
      run: cargo fmt --message-format human -- --check
    - name: Build (default features)
      run: cargo build --verbose --workspace
    - name: Build (all features)
      run: cargo build --verbose --workspace --all-features
    - name: Run tests (default features)
      run: cargo test --verbose
    - name: Run tests (all features)
      run: cargo test --verbose --all-features
    - name: Build benchmarks
      run: cargo bench --no-run
    - name: clippy
      run: cargo clippy --workspace -- -D warnings
