name: publish-crate

on:
  release:
    types: [published]

jobs:
  crate:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true
    - run: cargo publish
      env:
        CARGO_REGISTRY_TOKEN: ${{ secrets.LE_AUTOMATON_CRATES_IO_API_TOKEN }}
